body{
    background-color: rgba(119, 1, 1, 0.788);
}

.btn-box{
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.btn{
    margin-top: 22%;
    margin-bottom: 26%;
    padding: 7px 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.493), rgba(119, 1, 1, 0.651));
    border: none;
    border-radius: 40px;
    transition: all 0.2s ease-in-out;
    outline: none;
    background-color: rgb(119, 1, 1);
    color: rgb(241, 233, 233);
}

.btn:hover{
    /* background-color: rgb(119, 1, 1); */
    color: rgb(255, 255, 255);
    box-shadow: 1px 1px 3px rgb(49, 49, 49);
}