body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

li{
    list-style: none;
    padding-left: 0px;
}
ul{
}

a{
    padding-left: 5px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.514);
    transition: all 0.2s ease-in-out;
}

a:hover{
    color: #000;
}