body{
    background-color: rgb(51, 51, 51);
    font-family: sans-serif;
}
.content-all{
    width: 60%;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #494949;
    border: 1px solid rgba(255, 0, 0, 0.808);
    transition: all 0.2s ease-in-out;
}
.content-all:hover{
    box-shadow:5px 5px 2px rgb(0, 0, 0);
    color: rgba(148, 3, 3, 0.808);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
h1{
    color: rgba(255, 0, 0, 0.808);
    font-size: 20px;
}