.inferno{
    background-color: #3b3b3b;
    font-family: sans-serif;
    margin: 0;
    transition: all 0.2s ease-in-out;
    padding-top: 120px;
}
.terra{
    background-color: #6e6e6e;
    font-family: sans-serif;
    margin: 0;
    transition: all 0.2s ease-in-out;
    padding-top: 120px;
}
.ceu{
    background-color: #ffffff;
    font-family: sans-serif;
    margin: 0;
    transition: all 0.2s ease-in-out;
    padding-top: 120px;
}
/* CSS BOX */
.Box-terra{
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: center;
    height: 400px;
    justify-content: center;
    background-color: #404b3c;
    font-size: 24px;
    align-items: center;
    text-align: center;
    color: #064f94;
    transition: all 0.2s ease-in-out;
}
.Box-terra:hover{
    color: #500b0b;
    font-size: 50px;
    border: 5px #0058fc solid;
}

.Box-ceu{
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: center;
    height: 400px;
    justify-content: center;
    background-color: #c2c2c2;
    font-size: 24px;
    align-items: center;
    text-align: center;
    color: #929406;
    transition: all 0.2s ease-in-out;
}
.Box-ceu:hover{
    color: #4f500b;
    font-size: 50px;
    border: 5px #f9fd00 solid;
}

.Box-inferno{
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: center;
    height: 400px;
    justify-content: center;
    background-color: #000000;
    font-size: 24px;
    align-items: center;
    text-align: center;
    color: #a81616;
    transition: all 0.2s ease-in-out;
}
.Box-inferno:hover{
    color: #500b0b;
    font-size: 50px;
    border: 5px #fd0000 solid;
}
/* CSS BTNS */

.btn-terra{
    padding: 15px;
    background-color: #003f0e;
    border-radius: 40px;
    color: #fff;
    font-size: 24px;
    border: none;
    margin: 15px;
    outline: none;
    transition: all 0.2s ease-in-out;
}
.btn-terra:hover{
    padding: 20px;
    background-color: #404b3c;
    border-radius: 40px;
    color: #0058fc;
    font-size: 24px;
    cursor: pointer;
}
.btn-ceu{
    padding: 15px;
    background-color: #a8a616;
    border-radius: 40px;
    color: #fff;
    font-size: 24px;
    border: none;
    margin: 15px;
    outline: none;
    transition: all 0.2s ease-in-out;
}
.btn-ceu:hover{
    padding: 20px;
    background-color: #c2c2c2;
    border-radius: 40px;
    color: #ffee00;
    font-size: 24px;
    cursor: pointer;
}
.btn-inferno{
    padding: 15px;
    background-color: #a81616;
    border-radius: 40px;
    color: #fff;
    font-size: 24px;
    border: none;
    margin: 15px;
    outline: none;
    transition: all 0.2s ease-in-out;
}
.btn-inferno:hover{
    padding: 20px;
    background-color: #020202;
    border-radius: 40px;
    color: #a81616;
    font-size: 24px;
    cursor: pointer;
}