.body{
    background-color: #000000;
    font-family: sans-serif;
    margin: 0;
    transition: all 0.2s ease-in-out;
    padding-top: 120px;
}
.body-alt{
    background-color: #6e6e6e;
    font-family: sans-serif;
    margin: 0;
    transition: all 0.2s ease-in-out;
    padding-top: 120px;
}
.Box{
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: center;
    height: 400px;
    justify-content: center;
    background-color: #3b3b3b;
    font-size: 24px;
    align-items: center;
    text-align: center;
    color: #a81616;
    transition: all 0.2s ease-in-out;
}
.btn{
    padding: 15px;
    background-color: #a81616;
    border-radius: 40px;
    color: #fff;
    font-size: 24px;
    border: none;
    margin: 15px;
    outline: none;
    transition: all 0.2s ease-in-out;
}
.btn:hover{
    padding: 20px;
    background-color: #020202;
    border-radius: 40px;
    color: #a81616;
    font-size: 24px;
    cursor: pointer;
}
.input{
    padding: 10px;
    background-color: #3b3b3b;
    transition: all 0.2s ease-in-out;
    color: #fd0000;
    border: none;
    outline: none;
    margin: 15px;
    border-bottom: #9c0000 1px solid;
}
.input:focus{
    padding: 15px;
    border: none;
    border-bottom: #fd0000 1px solid;
    background-color: #1f1f1f;
    color: #fd0000;
}
.Box:hover{
    color: #500b0b;
    font-size: 50px;
    border: 5px #fd0000 solid;
}
.link {
    color: #fd0000;
    font-size: 24px;
    text-decoration: none;
    margin: 15px;
    transition: all 0.2s ease-in-out;
    
}
.link:hover{
    color: #490101;
    font-size: 27px;
    text-decoration: none;
}
.newBox{
    width: 50px;
    height: 50px;
    margin-left: 15px;
    background-color: #a81616;
}
.list{
    list-style: none;
    color: #e99393;
    font-size: 24px;
}
.list-item:hover{
    cursor: pointer;
    color: #500b0b;
    font-size: 28px;
}